@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom class for scaling from the top with a shadow on hover */
/* .custom-scale {
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.custom-scale:hover {
  transform: scale(1.2);
  box-shadow: 0px -20px 100px rgba(255, 255, 255, 0.3); 
} */

.shadow {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.9) 40%,
    rgba(255, 255, 255, 0.5) 70%,
    rgba(255, 255, 255, 0) 100%
  );
}
